@model IEnumerable<EjemploAlfaCore.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Cursos</h2>

<div>   
    <a class="btn btn btn-primary" onclick="showModalAgregarLibro()"><i class="fa fa-plus">Añadir documento</i></a>
</div>
<table class="table table-bordered table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>